:root {
    --font-size:         1rem;

    --border-color:      var(--pico-muted-border-color);
    --accent-color:      var(--pico-color-pumpkin);

    --link-active-color: var(--accent-color);

}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #535353;
    --secondary: #414141;
    --primary-hover: #333333;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0;
}

a {
    color: var(--link-active-color)
}

a:link {
    text-decoration: none;
}

a[role="button"], button, input[type="submit"], summary[role="button"] {
    background-color: var(--secondary);
    border: 0;
}

a[role="button"]:hover, button:hover, input[type="submit"]:hover, summary[role="button"]:hover {
    background-color: var(--primary-hover);
}

.delete-button {
    background-color: rgb(161, 57, 57);
}

.delete-button:hover {
    background-color: rgb(121, 44, 44);
}

.confirm-button[type="submit"] {
    background-color: rgb(129, 179, 97);
}

.confirm-button:hover[type="submit"] {
    background-color: rgb(101, 134, 81);
}

.check-validity:user-invalid {
    --pico-border-color: var(--pico-form-element-invalid-border-color);
    background-image: var(--pico-icon-invalid);
    background-position: 98.5%;
    background-repeat: no-repeat;
    background-size: 1rem;
}

.check-validity:user-valid {
    --pico-border-color: var(--pico-form-element-valid-border-color);
    background-image: var(--pico-icon-valid);
    background-position: 98.5%;
    background-repeat: no-repeat;
    background-size: 1rem;
}

#back-button {
    margin-right: 1rem;
}

#signup-button {
    margin-left: 0.5rem;
}

/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
    height: 4rem;

    background-image: linear-gradient(to right, var(--primary) 60%, rgba(0, 0, 0, 0)), url("../images/header.png");
    background-position-y: -8.5rem;
    background-position-x: right;
    background-repeat: repeat-y;
}

#main-header img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    border-radius: 10px;
}

#main-header > * {
    margin: 0;
}

#main-header > a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}


/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 1.1rem;
}

#main-nav menu {
    margin-top: 1.4rem;
}

#main-nav a[aria-current="page"] {
    color: var(--link-active-color);
}


/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;
}

/* PROFILE ---------------------------------------- */

#profile-header {
    display: flex;
    align-items: center;
}

#profile-header-info {
    display: flex;
    flex-direction: column;
}

#profile-header-name {
    display: flex;
    align-items: center;
}

#profile-body {
    display: flex;
    flex-direction: column;
}

#edit-profile {
    margin-left: auto;
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;
}

#edit-profile-cancel {
    margin-left: 1rem;
}

#admin-icon, #moderator-icon {
    margin-left: 0.2rem;
    max-width: 25px;
    max-height: 25px;
}

#profile-body {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#profile-info {
    margin-left: 1rem;
}

/* USERS ---------------------------------------- */

#list-users-icon {
    padding-right: 0.2rem;
}

/* FORUMS ---------------------------------------- */

#main-forums details {
    width: 10%;
}

#categories-list {
    margin-bottom: 2rem;
}

/* CATEGORY ---------------------------------------- */

#category-header {
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
}

#category-header h1 {
    margin: 0;
}

#topic-article {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    border: 0;
    color: black;
    justify-content: flex-end;
}

#topic-article:hover {
    transform: scale(105%);
    transition: 0.1s;
    background-color: var(--primary-hover);
}

#topic-article-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#topic-article-header h1 {
    margin-right: 0.2rem;
    margin-bottom: 0;
}

#topic-article-body {
    background-color: var(--pico-muted-border-color);
    border: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 0.2rem;
}

#topic-article-body p {
    color: white
}

#topic-article-op {
    display: flex;
    align-items: center;
}

#add-topic-button {
    margin-left: auto;
}

/* TOPIC ---------------------------------------- */

#topic-header h1 {
    margin: 0;
}

#topic-header a {
    margin-bottom: 1rem;
}

#topic-op {
    margin-bottom: 1rem;
}

#topic-admin-panel {
    display: flex;
}

#topic-admin-panel button {
    margin-right: 1rem;
}

/* COMMENTS ---------------------------------------- */

#comments-div {
    margin-top: 1rem;
}

#comments-article {
    display: flex;
}

#comments-article button {
    margin-left: auto;
}

/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

article {
    border: 1px solid var(--border-color);
    min-height: 6rem;
}

