:root {
    --font-size:         1rem;

    --border-color:      var(--pico-muted-border-color);
    --accent-color:      var(--pico-color-pumpkin);

    --link-active-color: var(--accent-color);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0;
}


/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

#main-header > * {
    margin: 0;
}

#main-header > a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}


/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 1.1rem;
}

#main-nav menu {
    margin: 0;
}

#main-nav a[aria-current="page"] {
    color: var(--link-active-color);
}


/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;
}

/* PROFILE ---------------------------------------- */

#profile-header {
    display: flex;
    align-items: center;
}

#profile-header-info {
    display: flex;
    flex-direction: column;
}

#profile-header-name {
    display: flex;
    align-items: center;
}

#profile-body {
    display: flex;
    flex-direction: column;
}

#edit-profile {
    margin-left: auto;
}

#admin-icon {
    margin-left: 0.2rem;
    height: 100%;
}

#profile-body {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#profile-info {
    margin-left: 1rem;
}

/* USERS ---------------------------------------- */

/* FORUMS ---------------------------------------- */

#main-forums details {
    width: 10%;
}

/* CATEGORY ---------------------------------------- */

#topic-body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#topic-op {
    display: flex;
    align-items: center;
}

/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

article {
    border: 1px solid var(--border-color);
    min-height: 6rem;
}

